:root {
    --primary-color: #333a4b;
    --primary-border-color: #d8d8da;
    --secondary-font-color: #fff;
    --light-border-color: #e9e9ec;
    --background-card-color: #6c927a;
    --background-card-color1: #8894b3;
    --background-card-color2: #3144af;
    --background-card-color3: rgb(255, 149, 167);
    --background-color-counter: #2c3a5c;
  }